body {
    background-color: white;
    margin-top: 48px;
    font-family: 'Poppins', sans-serif;
}

.user{
    height: 30px !important; 
    width: 30px !important;
    position: relative;
    z-index: 1;
    margin-top:-31px;
}

.icon{
    height: 15px !important; 
    width: 15px !important;
    position: relative;
    z-index: 1;
    margin-left: 5px;
}

.app-content {
    display: flex;
    justify-content: center;
}

.card{
    margin: 15px 10px;
    border-radius: 16px;
    background-color: white;
    border: none;
}


.small {
    grid-row-end: span 26;
}

.medium {
    grid-row-end: span 33;   
}

.large {
    grid-row-end: span 45;
}


.small>img {
    border-radius: 16px;
    width: 230px;
    height:230px ;
    cursor: pointer;
}

.medium>img{
    border-radius: 16px;
    width: 228px;
    height: 298px ;
    cursor: pointer;
}

.large>img {
    border-radius: 16px;
    width: 228px;
    height: 418px ;
    cursor: pointer;
}

/* HOVER */

.Hover.small{
    position: absolute;
    border-radius: 16px;
    width: 230px;
    height:230px ;
    opacity: 0;
    background: rgba(22, 17, 17, 0.5);
}

.Hover.medium{
    position: absolute;
    border-radius: 16px;
    width: 228px;
    height: 298px ;
    opacity: 0;
    background: rgba(22, 17, 17, 0.5);

}

.Hover.large{
    position: absolute;
    border-radius: 16px;
    width: 228px;
    height: 418px ;
    opacity: 0;
    background: rgba(22, 17, 17, 0.5);

}

.Hover:hover{

    opacity: 1;
} 

.Hover.small>div{
    position: absolute;
    top:185px;
    left: 140px;
    width: 90px;
    height: 35px;

}

.Hover.medium>div{
    position: absolute;
    top:250px;
    left: 140px;
    width: 90px;
    height: 35px;
}

.Hover.large>div{
    position: absolute;
    top:370px;
    left: 140px;
    width: 90px;
    height: 35px;
}

.Hover>div>img{
    background-color: white;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    opacity: 0.9;
    margin-left: 5px;
    cursor: pointer;

}

/* HOVER */


h1{
    font-size: 14px;
    font-weight: 700;
    position: relative;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 2px;
}


h2{
    font-size: 13px;
    position: relative;
    margin-top: 5px;
    margin-left: 33px;

}

.likes{
    font-size: 10px;
    position: relative;
    margin-left: 33px;
    bottom: 13px
}

.pin_container{
    margin-top: -25px;
    width: 98vw;
    display: grid ;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-auto-rows: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    grid-row-gap: 1.8px;
}



.header{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: -50px;
}



.focusBlack{
    background-color: #000000;
    padding:10px;
    border-radius: 100px;
    cursor: pointer;
    color: #f8f8f8;
    font-size: 16px;
    font-weight: 700;
}
.headerLeft{
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.headerLeft>img{
    width: 28px;
    height: 28px;
    border-radius: 33px;
    margin-top: -6px;
    margin-right: 10px;
    cursor: pointer;
}
.headerLeft>h3{
    padding:15px;
    cursor: pointer;
}

.focusWhite{
    font-size: 16px;
    font-weight: bold;
}


.headerRight{
    width: 350px;
    display: flex;
    flex-direction: row;
    margin-top: -10px;
}



.headerRight>img{
    width: 30px;
    height: 30px;
    flex-direction: row;
    margin-left: 10px;
    cursor:pointer

}

/* .headerRight>img:hover{
    width: 35px;
    height: 35px;
    background-color: #e0dede;
    border-radius: 50px;
} */

.guardar{
    background-color:#E60023;
    border-radius: 100px;
    cursor: pointer;
    color: #f8f8f8;
    font-size: 16px;
    font-weight: 700;
    margin-left: 130px;
    width:90px;
    height: 45px;
    position: absolute;
    text-align: center;
    padding-top: 12px;
    margin-top: 10px;
   
}

.perfil{
    color: #f8f8f8;
    font-size: 16px;
    margin-top: 25px;
    margin-left: 20px;
    position: absolute;
}



.headerMid>input{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 48px;
    width: 73vw;
    background-color: #d7d7d7;
    border:16px;
    border-radius: 33px;
    color:black;
    padding: 0px 40px;
    margin-top: -10px;
    opacity: 0.8;
    margin-left: 5px;

}
.headerMid>img{
    width:15px;
    height: 15px;
    z-index: 1;
    top:34px;
    margin-left: 20px;
    position: absolute;
}

::placeholder { 
    color: #757575;
  }


/* .headerMid>input:hover{
    width: 100%;
    height: 100%;
    border-radius: 33px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    box-shadow: none;
    background-color: #e1e1e1;
} */
.headerMid>input:focus{
    outline: none;
}
/* .headerMid:hover{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    height: 64px;
    background-color: #e1e1e1;
    border:16x;
    border-radius: 33px;
} */

