body {
    background-color: white;
    margin-top: 48px;
}

.app-content {
    display: flex;
    justify-content: center;
}

.card{
    margin: 15px 10px;
    padding: 0;
    border-radius: 16px;
    background-color: whitesmoke;
}


.small {
    grid-row-end: span 26;
    background-image: url("https://i.pinimg.com/236x/aa/c5/01/aac50120a65c69fb8d422156f3df0dce.jpg");
    background-size: 230px 230px;
    background-repeat: no-repeat;

}

.medium {
    grid-row-end: span 33;
    background-image: url("https://i.pinimg.com/474x/ac/ed/c4/acedc45cd847e5c559151cb1c341f5aa.jpg");
    background-size: 229px 299px;
    background-repeat: no-repeat;

    
}

.large {
    grid-row-end: span 45;
    background-image: url("https://i.pinimg.com/564x/2a/ff/58/2aff58301698f650754bfb286f4a5009.jpg");
    background-size: 229px 419px;
    background-repeat: no-repeat;
}

.pin_container{
    margin: 0;
    padding: 0;
    width: 98vw;
    display: grid ;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-auto-rows: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    background-color:white;
}



.header{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: -50px;
}



.focusBlack{
    background-color: #000000;
    padding:10px;
    border-radius: 100px;
    cursor: pointer;
    color: #f8f8f8;
    font-size: 16px;
    font-weight: 700;
}
.headerLeft{
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.headerLeft>img{
    width: 48px;
    height: 48px;
    border-radius: 33px;
    padding: 10px;
    margin-top: -4px;
}
.headerLeft>h3{
    padding:15px;
    cursor: pointer;
}

.focusWhite{
    font-size: 16px;
    font-weight: bold;
}

/* .focusWhite:hover{
    background-color: #f0f3f5;
    padding:10px;
    border-radius: 20px;
    cursor: pointer;
} */
/* .headerLeft>img:hover{
    width: 44px;
    height: 44px;
    background-color: #f0f3f5;
    cursor: pointer;
    padding: 10px;
} */

.headerRight{
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.headerRight>img{
    width: 50px;
    height: 50px;
    border-radius: 65px;
    padding: 10px;

}
/* .headerRight>img:hover{
    width: 44px;
    height: 44px;
    background-color: #e0dede;
    cursor: pointer;
    padding: 10px;
} */



.headerMid>input{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: 70vw;
    background-color: #dedcdc;
    border:16px;
    border-radius: 33px;
    color:white;
    padding: 0px 40px;
    margin-top: -30px;
    
}
.headerMid>img{
    width:15px;
    height: 15px;
    z-index: 1;
    margin-left: 15px;
}

::placeholder { 
    color: grey;
    opacity: 1; 
  }


/* .headerMid>input:hover{
    width: 100%;
    height: 100%;
    border-radius: 33px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    box-shadow: none;
    background-color: #e1e1e1;
} */
.headerMid>input:focus{
    outline: none;
}
/* .headerMid:hover{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    height: 64px;
    background-color: #e1e1e1;
    border:16x;
    border-radius: 33px;
} */
